header{
    width:80%;
    margin-left:10%;
}
.searchSide{
width:60%;
border-right:1px solid black;
}
.btnOptionSide{
    width:40%;
    padding:5%;
}
.searchOptions{
    display:inline-flex;
    width:60%;
    margin-left:20%;
}
form{
    text-align: center;
}
.card{
    width:70%;
    margin:30px 0 0 15%;
}
a:link{
    text-decoration: none;
    color:black;
}
a:visited {
    text-decoration: none;
    
}
.saveArticle{
   width:100%;
   text-align: center;
   padding:10px;
}