header {
  width: 80%;
  margin-left: 10%;
}
.App {
  margin-top: 100px;
}
.searchSide {
  width: 80%;
  margin-left: 10%;
}
.btn {
  margin-top: 10px;
}
form input {
  width: 100%;
  margin-bottom: 10px;
}
.btnOptionSide {
  width: 40%;
  padding: 5%;
}
.searchOptions {
  display: inline-flex;
  width: 60%;
  margin-left: 20%;
}

.card {
  margin-top: 30px;
}

.articleArea {
  width: 60%;
  margin: 0 0 0 5%;
  padding: 1%;
}
#savedLink {
  width: 80%;
  margin: 40px 0 0 10%;
  text-align: center;
}
.topStories {
  width: 60%;
  margin: 100px 0 0 20%;
}
.topStories #tsTitle {
  text-decoration: underline;
}
#listArea {
  display: inline-flex;
  width: 100%;
}
.savedArea {
  width: 30%;
  padding: 1%;
}
.saved #title {
  text-decoration: underline;
}
.favPageSavedArticle {
  width: 60%;
  margin: 100px 0 0 20%;
}

a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
}
.saveArticle {
  width: 100%;
  text-align: center;
  padding: 10px;
}
/* .saveArticle {
  width: 100%;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
}
.blockquote-footer {
  margin-bottom: 100px;
}
.saveArticle button {
  margin: 10px;
}

#articleDisplayGroup {
  flex-wrap: wrap;
  flex-direction: row;
  display: inline-flex;
}
#individualArticle {
  width: 20%;
  display: flex;
} */
